
.parent{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: black;

}

input{
    width: 500px;
    height: 50px;
}

table{
    width: 90vw;
    height: auto;
    background-color: white;
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;

}


tr{
    border-radius: 10px;
    background-color: gray;
    height: 150px;
}
thead tr{
    height: 50px;
}

th , td{
    text-align: center;
    color: white;
    font-size: 25px;
}

img{
    width: 200px;
    height: 120px
}